extends layout

block content
  div(class='row')
    div(class='large-12 columns')
    h3(style='color: #01786E') Welcome to PaaS Workshop !! CF
    hr
  div(class='row')
    div(class='large-12 columns')
      div(class='panel')
        h4 Environment Information
        ul
        li The current server time is <em>#{now}</em>
        li The application port is <em>#{port}</em>
        li The instance ID is <em>#{vcapApplication['instance_id']}</em>
        li The instance index is <em>#{vcapApplication['instance_index']}</em>
        li The instance was started at <em>#{vcapApplication['started_at']}</em>
        li The bound services are <em>#{vcapServices}</em>
        ul
    hr

